
<style>
    .stars {
  display: inline-block;
  font-size: 20px;
  color: #ccc;
}

.star {
  cursor: pointer;
  color: #ccc;
  transition: color 0.2s;
}

.star.filled {
  color: gold;
}

.star:hover,
.star:hover ~ .star {
  color: #ffda00;
}
</style>
<h4>Comments: <a href = "{% url 'create_comment' flower.flower_id %}" >Add Comment</a></h4> 
  {% for comment in flower.comments.all|slice:":1" %}
    <div>
      <h5>{{ comment.flower.flowername }}</h5>
      <small> {{ comment.user.username }} . {{ comment.created | timesince }} ago </small>
      <div class="stars">
        {% for _ in "12345" %}
            {% if forloop.counter <= comment.rating %}
                <span class="star filled">★</span>
            {% else %}
                <span class="star">★</span>
            {% endif %}
        {% endfor %}
      </div>
      <p>{{ comment.body }}</p>
      {% if request.user == comment.user %}
        <a href="{% url 'update_comment' comment.comment_id %}">Edit</a> |
        <a href="{% url 'delete_comment' comment.comment_id %}" onclick="return confirm('Are you sure you want to delete this comment?')">Delete</a>
      {% endif %}
    </div>
    <hr>
  {% empty %}
    <p>No comments yet.</p>
  
  {% endfor %}